*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared stles */
.section-description{
    font-size: 1.15rem;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 30px;
}
.btn{
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: #272727;
    margin-bottom: 24px;
}
/* header related style  */
header{
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
    margin-bottom: 130px;
    
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
    
    
}
.banner-info{
    max-width: 708px;
}
.banner-info h1{
    font-size: 4.3rem;
    font-weight: 900;
    color: #272727;
    margin-bottom: 32px;
    
    
    
}
.banner-image{
    max-width: 635px;
}
.banner-image img{
    width: 100%;
    vertical-align: middle;
}

/* feature section related style  */
.feature-section{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    margin-bottom: 130px;
    
}
.feature-info{
    max-width: 594px;
}
.feature-image-container{
    display: flex;
    gap: 24px;

}
.feature-image{
    max-width: 464px;
    border-radius: 300px 300px 0 0;
    overflow: hidden;
    
}
.feature-image img{
    width: 100%;
    margin-top: 50px;
    padding: 0 40px;
    box-sizing: border-box;
}
.flower-frame{
    margin-bottom: 25px;
    max-width: 464px;
    height: 538px;
}

#bg-pink{
    background-color: rgba(167, 33, 98, 0.15);
}
.image-blue img{
    box-sizing: border-box;
    padding: 40px 0;
    /* max-width: 370px; */
    /* max-height: 370px; */
    

}
#bg-blue{
    background-color: rgba(5, 151, 160, 0.15);
    
}
#bg-yellow{
    background-color: rgba(71, 125, 17, 0.15);
}
.feature-image a{
    color: #272727;
}

/* info related style  */
.info-section{
    max-width: 1440px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 130px;
    background-color: rgba(39, 39, 39, 0.05);
    
    
}
.info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
    max-width: 1090px;
    padding: 85px 175px;
    
}
.info-card img{
    margin-bottom: 24px;
    max-width: 372px;
    
}
.info-details{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    line-height: 35px;
}

/* deal related styles  */
.deal-section{
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 186px;
    padding: 100px 0;
    /* padding: 100px 400px 100px 400px; */
    margin-bottom: 130px;
}
.deal-info{
    width: 594px;

}
.deal-info h3{
    font-size: 2.2rem;
}
.deal-info .pink{
    color:#E55473
}

/* instragram section  */
.instragram-section{
    text-align: center;
    margin-bottom: 130px;
}
.insta-images{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.insta-images img{
    width: 100%;
}
.insta{
    max-width: 324px;
}

/* news section related styles  */
.news-section{
    background: url("Flower-Asset/Rectangle9.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 449px;
    margin-bottom: 130px;
    
}
.news-container{
    max-width: 866px;
    gap: 50px;
}
.news-input{
    gap: 20px;
    display: flex;
}
input[type="text"] {
  width: 700px;
  padding: 20px;
  border-radius: 8px;
  border: none;
}

/* footer section  */
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111010;
    
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
}
footer h2{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 24px;
}
.pink{
    color: #E55473;
}
footer #footer-info{
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.9);
    line-height: 30px;
    margin-bottom: 30px;
}
footer #footer-right{
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
}

@media screen and (max-width: 576px) {
    .banner-container{
        flex-direction: column;
        text-align: center;
    }
    .banner-info h1{
        font-size: 2.5rem;
    }
    .feature-section .feature-image-container{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        gap: 25px;
    }
    .flower-frame{
        margin-bottom: 10px;
    }
    .info-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .info-card img{
        margin-bottom: 10px;
    }
    .info-details {
        font-size: 1rem;
        font-weight: 600;
        color: rgba(39, 39, 39, 0.8);
        line-height: 20px;
        width: 100px;
        margin-bottom: 30px;
        
        
    }
    .deal-section{
        flex-direction: column;
        gap: 100px;
        width: 100%;
        

    }
    .deal-info{
        width: 100%;
    }
    .instragram-section{
        width: 100%;
        justify-items: center;
    }
    .insta-images{
        flex-direction: column;
        width: 342px;
        
     }
     .news-section{
        background: url("Flower-Asset/Rectangle9.png");
        /* background-color: #CCCCCC; */
        
        width: 100%;
        flex-direction: column;
        
    
    }
    .news-container{
        width: 100%;
        
    }
    .news-input{
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        
     }
     input[type="text"] {
        width: 80%;
        border-radius: 8px;
        border: none;
        padding: 20px;

    }
    input[type="submit"]{
        width: 50%;
    }

    
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner-container{
        flex-direction: column;
        text-align: center;
    }
     .banner-info h1{
        font-size: 3.5rem;
    }
    .feature-section .feature-image-container{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 25px;
    }

    .info-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .deal-section{
        flex-direction: column;
        gap: 100px;
        width: 100%;
        

    }
    .instragram-section{
        padding: 20px;
        justify-items: center;
    }
    .insta-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
     .news-input{
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        
     }
     input[type="text"] {
        width: 90%;
        border-radius: 8px;
        border: none;
        padding: 20px;

    }
    input[type="submit"]{
        width: 50%;
    }
    
    
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    header{
        padding: 30px;
        padding-bottom: 0;
    }
    .banner-info{
        max-width: 500px;
        
    }
    .banner-info h1{
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    .section-description{
        margin-bottom: 10px;
    }
    .feature-section .feature-image-container{
        
        margin-left: 20px;
        margin-right: 20px;
        gap: 25px;
    }
    .info-container{
        gap: 30px;
    }
    .info-details{
        line-height: 20px;
    }
    .instragram-section{
        padding: 20px;
        justify-items: center;
    }
    .insta-images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    header{
        padding: 20px;
        padding-bottom: 0;
    }
    .banner-container{
        gap: 50px;

    }
    .instragram-section{
        padding: 50px;
        justify-items: center;
    }
}